# Python virtual environment
.venv/
venv/
env/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Flask/local environment files
.env
instance/

# Local generated exports
exports/generated_payloads/*.txt

# Local editor/project files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.dbexports/generated_payloads/*.zip
